
/**
 * Fix user-agent
 */

* {
  box-sizing: border-box;
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

/**
 * Canvas
 */

.whiteboard {
  height: 100%;
  width: 100%;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  margin-right: 0;
  margin-left: auto; 
}

/*#child-first-child {
  border: 1px solid;
}


.parent {
  display: flex;
  height: 100%;
}

.first-child {
  width: 32px;
  height: 32px;
}

.second-child {
  flex-grow: 1;
}
*/
.colors {
  position: static;/*flexだと色が反応しない*/
}

.color {
  display: inline-block;
  /*display:inside;*/
  height: 48px;
  width: 48px;
  
}

.color.black { background-color: black; }
.color.red { background-color: red; }
.color.green { background-color: green; }
.color.blue { background-color: blue; }
.color.yellow { background-color: yellow; }

.big{
  display: flex;
  height: 100%;
}
.container{
  flex-grow: 1;
}

.message {
<<<<<<< HEAD
  padding: 30px; 
  /* border: 5px solid #000;  */
  width: 320px;
  height: 320px;
  background-color:bisque;
}

.board {
  padding: 0px;
  /* border: 0px solid #000; */
=======
  padding: 10px;
  border: 1px solid #000;
  width: 320px;
  height: 320px;
}

.board {
  padding: 10px;
  border: 10px solid #000;
>>>>>>> a23be36f23b1bc3265a39dc6ead426de46317a18
  height: 1000px;
  width: 1000px;
  background-color: powderblue;
  /*position:static;*/

}
.whiteboard{
  position:static;
}